<!--
<%
var title = '';
var icon = '';
if (page.category){
  title = page.category;
  icon = 'category';
};
if (page.tag){
  title = page.tag;
  icon = 'tag';
};
if (page.archive){
  icon = 'archive';
  if (page.year) title = page.year+  (page.month ? '/' + page.month : '');
  else title = __('archive_a');
};
%>
-->

{% if page.type == 'archives' %}
{% assign title = '归档' %}
{% assign icon = 'archive' %}
{% endif %}

{% if page.type == 'categories' %}
{% assign title = '分类' %}
{% assign icon = 'category' %}
{% endif %}

{% if page.type == 'tags' %}
{% assign title = '标签' %}
{% assign icon = 'tag' %}
{% endif %}


<div id="main" class="archive-part clearfix">
  <div id="archive-page">
  {% for post in site.posts %}
  {% assign item = post %}
  {% assign index = true %}
  {% include _partial/article_row.html %}
  {% endfor %}
<!--
<% if (page.total > 1){ %>
  <nav id="page-nav" class="clearfix archive-nav">
    <%- paginator({
      prev_text: '<span></span>Prev',
      next_text: 'Next<span></span>'
    }) %>
  </nav>
<% } %>
-->
  </div>
</div>
